# Entorno virtual
venv/

# Archivos de configuración privada
.env

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos temporales de VSCode
.vscode/
# Agregar al archivo .gitignore
*.png
*.jpg
*.jpeg
*.log